################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Code_Quiz/config
/.vs/Code_Quiz/FileContentIndex
/.vs/Code_Quiz/v17
/.vs
